/*Global*/

* {
  font-family: Helvetica, Arial, sans-serif;
}

/*Global*/

/*navbar*/

.navbar {
  height: 44px;
}

.navbar a {
  font-size: 14px;
  line-height: 44px;
}

/*navbar*/

/*phoneTypes*/

.phoneTypes{
  background-color: #f2f2f2;
}

.list-inline-item p{
  font-size: 11px;
  line-height: 12px;
}

/*phoneTypes*/

/*future*/

.future{
  background-color: #f7f7f7;
  font-weight: bold;
  padding: 70px 0 140px;
}

.future h1,h2{
  font-weight: bold;
}

/*future*/

/*iPhone8*/

.iPhone8{
  background-color: #f9f0eb;
  font-weight: bold;
  padding: 70px 0 140px;
}

.iPhone8 h1,h2{
  font-weight: bold;
}

/*iPhone8*/